<div class="body-geral">
  <%@cocktails.each do |cocktail| %>
  <%= link_to cocktail.name, cocktail_path(cocktail), class:'list-group-item list-group-item-action'%>
  <% end %>
</div>
  <%= link_to "Create New Cocktails", new_cocktail_path %>
