<%= simple_form_for [@cocktail, @dose] do |t| %>
    <div class="row justify-content-center">
      <div class="col-6">
        <%= t.association :ingredient, input_html: { class: 'select2' } %>
        <%= t.input :description %>
        <%= t.submit%>
      </div>
    </div>
<% end %>
